#sortgraph{
    position: relative;
    width: 500px;
    height: 200px;
    background-color: lightgrey;
}

.bar{
    position: absolute;
    bottom: 0px;
    background-color: blue;;
}

.isActive{
    background-color: darkblue;
}

.isCompleted{
    background-color: black;
}